.App {
  text-align: center;
}

.header {
  background-color: #1cfeba;
  width: 100vw;
  height: 12vh;
  margin-bottom: 13vh;
}

.header>h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}